.App-logo {
  max-width: 250px;
  display: block;
  margin: 0 auto;
}

.App {
  max-width: 900px;
  margin: 20px auto;
}

h1 {
  text-align: center;
}

footer {
  text-align: center;
  font-size: 12px;
  margin: -15px auto 20px;
}
