.SearchEngine section {
  background: #e7eaf6;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  margin: 20px 0;
}

.SearchEngine input {
  width: 100%;
  border-radius: 6px;
  padding: 6px 10px;
  color: #333;
  border: 1px solid #ddd;
}

.SearchEngine .hint {
  font-size: 11px;
  margin-top: 5px;
}

